{% extends 'base.html' %}

{% block content %}

    <main class="form-wrapper padding">
        <div class ="border">
            {% if object %}
                <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
            {% else %}
                <h1>Add a Happy Hour</h1>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <input type="submit" value="Submit!" class="btn">
            </form>
        </div>
    </main>

    <script>
        var selectEl = document.getElementById('id_time_start');
        M.FormSelect.init(selectEl);

        var selectElem = document.getElementById('id_time_end');
        M.FormSelect.init(selectElem);

        var dateEl = document.getElementById('id_added');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });
    </script>

{% endblock %}