{% extends 'base.html' %}
{% block content %}
<main class="container container-pad padding-top">
        <div class="border">
    <h1 class="h1-override">{{restaurant.name}} Details</h1>
    <div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Happy Hour: </span>
                {% if  approved_hours_boolean %}
                <p>{{current_approved_hours}}</p>
                {% else %}
                <p>No happy hour data. Please add it below.</p>
                {% endif %}
                <form action="{% url 'update_hours' restaurant.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="add happy hour time" name="hours">
                    <!-- <input type="hidden" name="{{restaurant.id}}"> -->
                    <input class="btn" type="submit" name="submit">
                </form>
                <br>
                {% if  restaurant.menu_set.all.exists %}
                {% else %}
                <p>No menu data. Please add it below.</p>
                <form action="">
                    <input type="text" placeholder="add happy hour time" name="hours">
                    <input class="btn" type="submit" name="submit">
                </form>
                {% endif %}
                <br>
                <p>Address:</p>
                <a class="deep-purple-text" href="https://www.google.com/maps/place/{{restaurant.address}}" target="_blank">{{restaurant.address}}</a>
            </div>
        </div>
    </div>
    </div>
</main>


{% endblock %}