{% extends 'base.html' %}
{% block content %}
<main class="container container-pad padding-top">
    <div class="border">
        <h1 class="h1-override">{{restaurant.name}} Details</h1>
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <!-- <span class="card-title">Happy Hour: </span> -->
                    {% if  approved_hours_boolean %}
                    <p>Happy Hour: {{current_approved_hours}}</p>
                    {% else %}
                    <p>No happy hour data for this restaurant. Please add it below.</p>
                    <form action="{% url 'update_hours' restaurant.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col s6 row-padding">
                                <input type="text" placeholder="add happy hour time (ex. 6:00 PM - 8:00 PM)" name="hours">
                            </div>
                        </div>
                        <input class="btn deep-purple darken-2" type="submit" name="submit">
                    </form>
                    {% endif %}


                    {% if pending_hours %}
                    <a class="waves-effect waves-light modal-trigger yellow-text text-darken-2"
                        href="#pending-hours">View pending changes.</a><br>


                    <div id="pending-hours" class="modal">
                        <div class="modal-content">
                            <!-- votes here -->
                            <p>A user has submitted the following edit to the Happy Hour:</p><br>
                            <p>{{pending_hours}}</p><br>

                            {% if user_hours_vote %}
                            <p>You have already voted to 
                                <span>
                                    {% if user_hours_vote.vote %}
                                    confirm
                                    {% else %}
                                    dispute
                                    {% endif %}
                                </span> this change.</p>
                                <p>This update is still pending, thank you for your patience.</p>
                            {% else %}

                            <p>Is this correct?</p><br>
                            <a class="btn deep-purple darken-2" href="{% url 'yay_vote' restaurant.id %}">Confirm Change</a>
                            <a class="btn red" href="{% url 'nay_vote' restaurant.id %}">Dispute Change</a>

                            {% endif %}

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect btn-flat">Close</a>
                        </div>


                    </div>
                    {% else %}
                    {% if approved_hours_boolean %}

                    <a class="waves-effect waves-light modal-trigger yellow-text text-darken-2" href="#dispute">Correct This</a><br>
                    <div id="dispute" class="modal">
                        <div class="modal-content">
                            <h4>Is this data old or incorrect?</h4>
                            <p>Please suggest an update below:</p>
                            <form action="{% url 'update_hours' restaurant.id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="suggest a new happy hour time" name="hours">
                                <input class="btn deep-purple darken-2" type="submit" name="submit">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect btn-flat">Close</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    <br>
                    <hr>

                    <br>
                    {% if  approved_menu_boolean %}
                    <p>Menu:</p><br>

                    <img class="materialboxed img-max-width" src="{{current_approved_menu.menu_photo_url}}" alt="menu"><br>
                    {% if pending_menu %}
                    <a class="waves-effect waves-light modal-trigger yellow-text text-darken-2"
                        href="#dispute-menu">View pending changes.</a><br>
                    <div id="dispute-menu" class="modal">
                        <div class="modal-content">
                            <p>A user has submitted the following updated menu:</p><br>
                            <img class="materialboxed img-max-width" src="{{pending_menu.menu_photo_url}}" alt="pending menu"><br>
                            <p>Is this correct?</p><br>
                            <a class="btn deep-purple darken-2" href="{% url 'menu_yay_vote' restaurant.id %}">Confirm Change</a>
                            <a class="btn red" href="{% url 'menu_nay_vote' restaurant.id %}">Dispute Change</a>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect btn-flat">Close</a>
                        </div>
                    </div>
                    {% else %}
                    <a class="waves-effect waves-light modal-trigger yellow-text text-darken-2"
                        href="#dispute-menu">Correct This</a><br>
                    <div id="dispute-menu" class="modal">
                        <div class="modal-content">
                            <h4>Is this menu old or incorrect?</h4>
                            <p>Please upload a new one below:</p>
                            <form action="{% url 'update_menu' restaurant.id %}" enctype="multipart/form-data"
                                method="POST">
                                {% csrf_token %}
                                <input type="file" name="menu_file"><br><br>
                                <input class="btn deep-purple darken-2" type="submit" name="submit" value="upload">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect btn-flat">Close</a>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <p>No menu data for this restaurant. Please upload a menu below.</p><br>
                    <form action="{% url 'update_menu' restaurant.id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="file" name="menu_file"><br><br>
                        <input class="btn deep-purple darken-2" type="submit" name="submit" value="upload">
                    </form>
                    {% endif %}
                    <br>
                    <hr>
                    <br>
                    <p>Address:</p>
                    <a class="deep-purple-text" href="https://www.google.com/maps/place/{{restaurant.address}}" target="_blank">{{restaurant.address}}</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>


{% endblock %}