{% extends 'base.html' %}
{% block content %}

<main class="row">
    <div class="col s10 offset-s1 about-wrapper valign-wrapper">
        <div class="about deep-purple darken-2 white-text">
            <h1 class="center about-h1">About drinkOn</h1>
            <p class="flow-text">
                Have you ever needed a happy hour RIGHT NOW?<br>
                Wondered what’s on the menu?<br>
                How close it is to you?<br>
                Sick of being told by Yelp and Google that drinks are half off until 7, only to find it’s actually until 6?<br>
                There is a better way...<br>
            </p>
            <p class="flow-text">
                We have come together as a team to create an app where users can find the closest happy hour happening right now. In addition, our app will provide you with a current & updated happy hour drink and food menu.
            </p>
        </div>  
    </div>
</main>

{% endblock %}