{% extends 'base.html' %}
{% block content %}

<main class="row">
    <div class="col s10 offset-s1 about-wrapper valign-wrapper">
        <div class="about deep-purple darken-2 white-text">
            <h1 class="center about-h1">About drinkOn</h1>
            <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Libero nunc consequat interdum varius. Tempus egestas sed sed risus. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Sem nulla pharetra diam sit amet nisl suscipit.
            </p>
            <p class="flow-text">
                Euismod nisi porta lorem mollis aliquam ut. Posuere morbi leo urna molestie at elementum. Scelerisque in
                dictum non consectetur a erat nam at lectus. Congue nisi vitae suscipit tellus mauris a diam maecenas.
                Viverra accumsan in nisl nisi scelerisque eu ultrices. Mattis pellentesque id nibh tortor id aliquet
                lectus proin nibh. Facilisi cras fermentum odio eu feugiat. Vitae turpis massa sed elementum tempus.
            </p>
            <p class="flow-text">
                Donec ultrices tincidunt arcu non sodales neque sodales. Condimentum lacinia quis vel eros. Ac turpis
                egestas maecenas pharetra convallis posuere morbi.
            </p>
        </div>  
    </div>
</main>

{% endblock %}