{% extends 'base.html' %}
{% block content %}

<main class="container container-pad padding-top">
        <div class="border">
            <h1 class="center h1-override">About drinkOn</h1>
            <p class="flow-text">
                Need a happy hour RIGHT NOW?<br>
                Want to know what’s on the menu?<br>
                How far do you have to walk to get there?<br>
            </p>
            <p class="flow-text">
                We have come together as a team to create an app where users can find the closest happy hour happening right now. In addition, our app will provide you with a current happy hour drink and food menu.
            </p>
    </div>
</main>

{% endblock %}