{% extends 'base.html' %}
{% block content %}


<main>
    <div class="center-text">
        <div class="container">
            <div style="width: fit-content; margin: 1em auto">
                <img class="responsive-img" style="border-radius:25px; border:10px solid #512da8;"
                    src="https://i.imgur.com/z1ulDDa.jpg?2" alt="Happy Hour">
                <div style="border:10px solid #512da8; border-radius:15px; background: white; margin-top: 10px;">
                    <p class="flow-text" style="color:#311b92; padding: 0 20px;">Find the Best Happy Hour Spots in Your
                        Area!</p>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}