nav {
    border-bottom: 2px solid white;
}

nav .brand-logo {
    margin-left: 0 15px !important;
}

nav .brand-logo i {
    font-size: 20px;
    margin-right: 0 !important;
}

.logo-header-icon {
    font-size: 40px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.about {
    border: 2px solid white;
    padding: 0 20px;
}

.about-h1 {
    margin-top: 15px;
    font-size: 3.5em;
}

p {
    font-size: 20px;
}

footer {
    border-top: 2px solid white;
}

footer div {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -6px;
}

.border {
    border: 5px solid #512da8;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
}

.padding {
    padding: 50px;
}

@media only screen and (min-width: 600px) {
    .about-wrapper {
        height: 82.5vh;
    }
}

@media only screen and (max-width: 599px) {
    h1 {
        font-size: 2em !important;
    }
    p {
        font-size: 1em !important;
    }
    .about {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 320px) {
    .brand-logo {
        font-size: 28px !important;
    }
}
 
