nav {
    border-bottom: 2px solid white;
}

nav .brand-logo {
    margin-left: 0 15px !important;
}

nav .brand-logo i {
    font-size: 20px;
    margin-right: 0 !important;
}

.logo-header-icon {
    font-size: 40px !important;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

td {
    font-size: 16px;
}

.about {
    border-radius: 25px;
    border: 2px solid white;
    padding: 0 20px;
}

.h1-override {
    margin-top: 15px;
    /* font-size: 3.5em; */
}


.center-text {
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: -50px; */
}

p {
    font-size: 20px;
    font-weight: bold;
}

.row-padding {
    padding-left: 0 !important;
}

.img-max-width {
    max-width: 80%;
    max-height: 450px;
}
/* footer {
    border-top: 2px solid white;
} */

footer div {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -6px;
}

.border {
    border: 10px solid #512da8;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
}


/* .h3-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* .h3-border {
    width: 40%;
    border: 5px solid #512da8;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
} */

.padding-top {
    padding-top: 30px;
}

.border-pad {
    margin-top: 20px;
}

.container-pad {
    padding-bottom: 20px;
}

.h3-headroom {
    margin-top: 5px;
}


/* this code is supposed to make the table display nicer, but its not!*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.amazon-img {
    image-orientation: from-image;
}

.modal-button {
    margin-top: 20px !important;
}


@media only screen and (min-width: 600px) {
    .about-wrapper {
        height: 82.5vh;
    }
}

@media only screen and (max-width: 599px) {
    h1 {
        font-size: 1.7em !important;
    }
    p {
        font-size: 1em !important;
    }
    .about {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 320px) {
    .brand-logo {
        font-size: 26px !important;
    }
    .logo-header-icon {
        font-size: 26px !important;
    }
}
 
